@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  height: auto;
  max-height: 90vh;
  overflow: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cropper-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cropper-container {
  flex-grow: 1;
  height: 300px;
  position: relative;
}

.cropper-controls {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
